{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">{% endblock css %}

{% block title %}Edit your account{% endblock title %}

{% block content %}
    <div class="form-field centered">
        <h1>Edit your account</h1>
        <p>You can edit your account using the following form:</p>
        <form method="post" enctype="multipart/form-data">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save changes"></p>
        </form>
    <p></p>
    </div>
{% endblock content %}