{% extends 'base.html' %}
{% load static %}
{% load auth_filter %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock css %}
{% block title %}Profile{% endblock title %}

{% block content %}
    <div class="container">

        <div class="picture">
            {% if profile_photo %}
                <a href="{{ profile_photo }}">
                <img src="{{ profile_photo }}" width="200" height="200">
            {% else %}
                <a href="#"><img src="{% static 'img/no_photo.png' %}" width="200" height="200">
            {% endif %}
            </a>
        </div>


        <div class="info">
            <p>Username: {{ current_user.username }}</p>
            <p>First Name: {{ current_user.first_name }}</p>
            <p>Last Name: {{ current_user.last_name }}</p>
            <p>Date of Birth: {{ profile.date_of_birth|date:"M d, Y" }}</p>
            <p>Position: {{ profile.position|title  }}</p>
            {% if user.username == current_user.username or user|has_group:"Admin"%}
            <div class="profile-links">
                <a href="{% url 'edit' %}">Edit Profile</a>
                <a href="{% url 'password_change' %}">Reset Password</a>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}