.container {
    background: #F7F8F9;
    height: 102vh;
}

.task-container {
    display: flex;
    justify-content: space-around;
}

.container h1 {
    text-align: center;
    padding: 20px 0;
}

.people img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.header-p {
    font-weight: bold;
    padding: 10px 10px 5px 0;
}

div.assignee,
div.author {
    display: flex;
    align-items: center;
}

a.assignee,
a.author {
    display: flex;
    align-items: center;
}

p.assignee {
    padding-right: 60px;
}


p.author {
    padding-right: 63px;
}

.assignee-img,
.author-img {
    display: flex;
    align-items: center;
    width: 100%;
}

.assignee-img p {
    margin-left: 10px;
    font-weight: bold;
}

div.assignee {
    margin-bottom: 10px;
}

.assignee-img a,
.author-img a {
    text-decoration: none;
    font-weight: bold;
    color: #1F596C;
    padding-left: 10px;
}

.assignee-img a:hover,
.author-img a:hover {
    color: #FC6620;
}

.task-details,
.dates,
.time-tracking {
    display: flex;
}

.task-details {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}


.dates-left {
    padding-right: 35px;
}

.dates-left p {
    padding-bottom: 10px;
}

.time-tracking-left {
    padding-right: 50px;
}

.time-tracking-left p {
    padding-bottom: 10px;
}

.task-details-cont {
    display: flex;
    flex-direction: column;
}

.task-details-right,
.dates-right,
.time-tracking-right {
}

.task-details-right p,
.dates-right p,
.time-tracking-right p {
    padding-bottom: 10px;
}

.task-info {
    margin-top: 70px;
    width: 50vw;
}

.task-top-cont textarea {
    resize: none;
    padding: 10px;
    border-radius: 5px;
}

.subtasks {
    border: 2px solid;
    height: 250px;
    border-radius: 5px;
    overflow-y: auto;
    width: 100%;
    text-align: center;
}

.subtasks-header {
    display: flex;
    padding: 5px 0;
    font-weight: bold;
}

.subtasks-header p,
.subtask p,
.subtask a{
    flex-basis: 25%;
}

.subtask {
    display: flex;
    align-items: center;
}

.subtasks a,
.task-details-right a {
    padding: 5px 0 0 0;
    text-decoration: none;
    flex-basis: 33%;
}

.subtasks div:nth-child(even) {
    background-color: #f2f2f2;
}

#priority,
#status,
#resolution,
#parent-task {
    display: flex;
    align-items: baseline;
    padding: 5px;
}

#priority:hover a,
#status:hover a,
#resolution:hover a {
    opacity: 1;
    transition: 0.3s;
}

#priority a,
#status a,
#resolution a {
    margin-left: 10px;
    opacity: 0;
    color: #1F596C;
}

#priority a:hover,
#status a:hover,
#resolution a:hover {
    color: #FC6620;
}

.priority:first-child,
.status:first-child,
.resolution:first-child,
.parent-task:first-child {
    width: 100px;
}

#parent-task a {
    text-decoration: none;
    color: #1F596C;
    font-weight: bold;
}

#parent-task a:hover {
    color: #FC6620;
    transition: 0.3s;
}

#priority .inner-field,
#status .inner-field,
#resolution .inner-field {
    display: flex;
    padding: 5px;
    border: 1px solid #F7F8F9;
}

#parent-task .inner-field {
    padding-left: 5px;
}

#priority .inner-field:hover,
#status .inner-field:hover,
#resolution .inner-field:hover {
    border-radius: 5px;
    border-color: gray;
    transition: 0.3s;
}

#priority-dropdown {

}

div.dropdown {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 23%;
}

div.dropdown a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    color: #1F596C;
}

div.dropdown a:hover {
    color: #FC6620;
    background: #1F596C;
    transition: 0.3s;
}

.show {
    display: flex !important;
}

#update-container {
    display: flex;
    justify-content: space-around;
}

#update-task,
#delete-task{
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid;
    background: #18596D;
    font-weight: bold;
    color: white;
}

#update-task:hover {
    color: #FC6620;
    transition: 0.3s;
    cursor: pointer;
    background: white;
}

#delete-task:hover {
    color: white;
    transition: 0.3s;
    cursor: pointer;
    background: #ED4337;
}

.bold {
    font-weight: bold;
}

#assign-me,
#remove-assignee,
#track-time-btn
{
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
    background: #18596D;
    font-weight: bold;
    color: white;
}

#create-new-subtask {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
    background: #18596D;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#assign-me:hover,
#remove-assignee:hover,
#create-new-subtask:hover,
#track-time-btn:hover{
    color: #FC6620;
    transition: 0.3s;
    cursor: pointer;
    background: white;
}

#tracked-time {
    width: 90%;
    height: 120px;
    margin: 10px 20px;
    background: white;
}

.subtask-header {
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: center;
}

#delete-assignee-btn{
    margin-left:100px;
}

#track-time{
    display: flex;
    margin: 10px 0;
}

#track-time-btn{
    margin:0;
}
