{% extends 'base.html' %}
{% load static %}
{% load auth_filter %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/administration.css' %}">
{% endblock css %}

{% block title %}Administration Panel{% endblock title %}

{% block content %}
    <h1>Administration Panel</h1>
    <h2>Here an admin can edit user groups and assignment</h2>
    <table class="users-admin">
        <thead>
        <tr>
            <td>Username</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Date of Birth</td>
            <td>Email</td>
            <td>Position</td>
            <td>Reset</td>
            <td>Save Changes</td>
            <td>Delete User</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="user-row">
                <td class="user-slug"><a href="{% url 'profile' user.username %}">{{ user.username }}</a></td>
                <td class="user-first-name"><p>{{ user.first_name }}</p></td>
                <td class="user-last-name"><p>{{ user.last_name }}</p></td>
                {% if user.profile.date_of_birth is not None %}
                    <td class="user-birth-date"><p>{{ user.profile.date_of_birth }}</p></td>
                {% else %}
                    <td class="user-birth-date"><p>Not Specified</p></td>
                {% endif %}
                <td class="user-email"><p>{{ user.email }}</p></td>
                <td class="user-groups"><select class="position" data-initial=
                        {% if user|has_group:"Employee" %}employee{% elif user|has_group:"Manager" %}manager{% elif user|has_group:"Admin" %}admin{% endif %}>
                    <option value="employee" {% if user|has_group:"Employee" %} selected{% endif %}>Employee</option>
                    <option value="manager" {% if user|has_group:"Manager" %}selected{% endif %}>Manager</option>
                    <option value="admin" {% if user|has_group:"Admin" %}selected{% endif %}>Admin</option>
                </select></td>
                <td class="reset-changes-btn">
                </td>
                <td class="save-changes-btn">
                </td>
                <td class="delete-user-btn">
                    <button class="delete-user">Delete</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
{% endblock content %}

{% block script %}
    <script>
        window.onload = function () {
            let selects = document.querySelectorAll(".position");
            let userRows = document.querySelectorAll(".user-row");


            [...selects].map(x => x.addEventListener("change", changePosition));
            [...userRows].map(x => x.addEventListener("click", modifyData));

            async function modifyData(ev) {
                let parentSelect = ev.target
                let currentUserRow = parentSelect.parentNode.parentNode
                let resetBtnTr = currentUserRow.querySelector('.reset-changes-btn')
                let saveBtnTr = currentUserRow.querySelector('.save-changes-btn')

                if (ev.target.tagName === 'BUTTON') {
                    let select = ev.target.parentNode.parentNode.querySelector('.position');
                    if (ev.target.className.includes('reset-user-group')) {
                        let defaultValue = select.getAttribute('data-initial');
                        [...select.querySelectorAll('option')].map(e => e.value === defaultValue ? e.selected = true : '')
                        select.classList.remove('highlighted')
                        resetBtnTr.childNodes[1].remove()
                        saveBtnTr.childNodes[1].remove()
                    } else if (ev.target.className.includes('save-user-group')) {
                        let user = ev.target.parentNode.parentNode.querySelector('.user-slug').innerText
                        let newGroupTr = ev.target.parentNode.parentNode.querySelector('.position')
                        let newGroup = newGroupTr.options[newGroupTr.selectedIndex].text
                        let request = await updateUserGroup("{% url 'update_user_group' %}", user, newGroup)
                        tempAlert(request.message, 2000, request.status);
                        if (request.status === 200) {
                            newGroupTr.classList.remove('highlighted')
                            resetBtnTr.childNodes[1].remove()
                            saveBtnTr.childNodes[1].remove()
                            select.setAttribute('data-initial', newGroup.toLowerCase());
                        }
                    } else if (ev.target.className.includes('delete-user')) {
                        let user = ev.target.parentNode.parentNode.querySelector('.user-slug').innerText
                        let confirmation = confirm('Are you sure you want to delete this user ?')
                        if (confirmation) {
                            let request = await deleteUser("{% url 'delete_user' %}", user)
                            tempAlert(request.message, 2000, request.status);
                            if (request.status === 200) {
                                ev.target.parentNode.parentNode.remove()
                            }
                        }
                    }
                }
            }
        }

        function changePosition(ev) {
            let parentSelect = ev.target
            let currentUserRow = parentSelect.parentNode.parentNode
            let resetBtnTr = currentUserRow.querySelector('.reset-changes-btn')
            let saveBtnTr = currentUserRow.querySelector('.save-changes-btn')

            let selectedOption = parentSelect.options[parentSelect.selectedIndex]
            let value = selectedOption.value;
            let initialValue = parentSelect.getAttribute('data-initial')
            if (initialValue !== value) {
                let resetBtn = document.createElement('button');
                resetBtn.classList.add('reset-user-group');
                resetBtn.innerText = 'Reset Changes';

                let saveBtn = document.createElement('button');
                saveBtn.classList.add('save-user-group');
                saveBtn.innerText = 'Save Changes';

                if (resetBtnTr.childNodes.length === 1) {
                    resetBtnTr.appendChild(resetBtn)
                    saveBtnTr.appendChild(saveBtn)
                }

                selectedOption.selected = true;
                parentSelect.classList.add('highlighted')
            } else {
                resetBtnTr.childNodes[1].remove()
                saveBtnTr.childNodes[1].remove()
                parentSelect.classList.remove('highlighted')
            }
        }

        async function deleteUser(url, userSlug) {
            let csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            let data = {
                'userSlug': userSlug,
            }

            const urlWithParams = url + "?" + new URLSearchParams({
                userSlug: userSlug,
            })
            const response = await fetch(urlWithParams, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRFToken": csrf_token,
                    },
                    body: JSON.stringify(data)
                }
            );
            return response.json();
        }

        async function updateUserGroup(url, userSlug, newGroup) {
            let csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            let data = {
                'userSlug': userSlug,
                'newGroup': newGroup,
            }

            const urlWithParams = url + "?" + new URLSearchParams({
                userSlug: userSlug,
            })
            const response = await fetch(urlWithParams, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRFToken": csrf_token,
                    },
                    body: JSON.stringify(data)
                }
            );
            return response.json();
        }

        function tempAlert(msg, duration, status) {
            let el = document.createElement("div");
            el.classList.add('status-message')
            if (status === 200) {
                el.setAttribute("style", "background:#81ce81;");
            } else {
                el.setAttribute("style", "background:#ED4337;");
            }
            el.innerHTML = msg;
            setTimeout(function () {
                el.parentNode.removeChild(el);
            }, duration);
            document.body.appendChild(el);
        }
    </script>


{% endblock script %}