{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">{% endblock css %}
{% block title %}Task Manager Tool{% endblock %}

{% block content %}
    <div class="container">
        <h1>Task Manager Tool</h1>
    <p>Welcome to my Task Manager tool</p>
    <p>After login you can access one of the following functionalities:</p>
    <ul>
        <li><p>Create Tasks</p></li>
        <li><p>Review Tasks</p></li>
        <li><p>Update Tasks</p></li>
        <li><p>Search for Tasks</p></li>
    </ul>
    </div>
{% endblock %}