{% extends 'base.html' %}
{% load static %}
{% load auth_filter %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/task-details.css' %}">
{% endblock css %}

{% block title %}Task Details{% endblock title %}

{% block content %}
    <div class="container">
        <h1>{{ task.title }}</h1>
        <div class="task-container">
            <div class="task-top-cont">
                <div class="task-details">
                    <div id="priority">
                        <p class="priority">Priority:</p>
                        <div class="inner-field">
                            <p class="priority {{ task.priority }}">{{ task.priority|title }}</p>
                            {% if request.user == task.author or request.user|has_group:"Admin" %}
                                <a href="#" id="priority-options" class="dropdown"><i
                                        class="fa-solid fa-pencil dropdown"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div id="priority-dropdown" class="dropdown">
                        <a href="#">Low</a>
                        <a href="#">Medium</a>
                        <a href="#">High</a>
                    </div>
                    <div id="status">
                        <p class="status">Status:</p>
                        <div class="inner-field">
                            <p class="status  {{ task.status|lower }}">{{ task.status|title }}</p>
                            {% if request.user == task.author or request.user|has_group:"Admin" or request.user == task.assignee %}
                                <a href="#" id="status-options" class="dropdown"><i
                                        class="fa-solid fa-pencil dropdown"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div id="status-dropdown" class="dropdown">
                        <a href="#">Opened</a>
                        <a href="#">In Progress</a>
                        <a href="#">Blocked</a>
                        <a href="#">Completed</a>
                    </div>
                    <div id="resolution">
                        <p class="resolution">Resolution:</p>
                        <div class="inner-field">
                            <p class="resolution {{ task.resolved }}">{{ task.resolved|title }}</p>
                            {% if request.user == task.author or request.user|has_group:"Admin" or request.user == task.assignee %}
                                <a href="#" id="resolution-options" class="dropdown"><i
                                        class="fa-solid fa-pencil dropdown"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div id="resolution-dropdown" class="dropdown">
                        <a href="#">Unresolved</a>
                        <a href="#">Resolved</a>
                    </div>
                    <div id="parent-task">
                        <p class="parent-task">Parent Task</p>
                        <div class="inner-field">
                            {% if task.parent_task %}
                                <a href="{{ task.parent_task.id }}">{{ task.parent_task }}</a>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <textarea rows="20" cols="60">{{ task.description }}</textarea>
            </div>
            <div class="task-info">
                <p class="header-p">People</p>
                <div class="people">
                    <div class="assignee">
                        <p class="assignee">Assignee:</p>
                        <div class="assignee-img">
                            {% if task.assignee.profile.photo %}
                                <img src="{{ task.assignee.profile.photo.url }}" alt="">
                            {% else %}
                                <img src="{% static 'img/no_photo.png' %}" alt="">
                            {% endif %}
                            {% if task.assignee %}
                                <a class="assignee" href="/account/profile/{{ task.assignee }}">{{ task.assignee }}</a>
                                <div id="delete-assignee-btn">
                                    <button id="remove-assignee">Remove assignee</button>
                                </div>
                            {% else %}
                                <a>None</a>
                                <div id="delete-assignee-btn">
                                </div>
                            {% endif %}
                            <button id="assign-me">Assign to me</button>
                        </div>
                    </div>
                    <div class="author">
                        <p class="author">Reporter:</p>
                        <div class="author-img">
                            {% if task.author.profile.photo.url %}
                                <img src="{{ task.author.profile.photo.url }}" alt="">
                            {% else %}
                                <img src="{% static 'img/no_photo.png' %}" alt="">
                            {% endif %}
                            <a class="author" href="/account/profile/{{ task.author }}">{{ task.author }}</a>
                        </div>
                    </div>
                </div>

                <div class="dates-container">
                    <p class="header-p">Dates</p>
                    <div class="dates">
                        <div class="dates-left">
                            <p class="created">Created:</p>
                            <p class="updated">Last updated:</p>
                        </div>
                        <div class="dates-right">
                            <p>{{ task.publish|date:"D d M Y H:i" }}</p>
                            <p>{{ task.updated|timesince }} ago</p>
                        </div>
                    </div>
                </div>

                <div class="time-tracking-container">
                    <div id="track-time">
                        <p class="header-p">Time Tracking</p>
                        {% if request.user == task.author or request.user|has_group:"Admin" or request.user == task.assignee %}
                            <button id="track-time-btn">Track Time</button>
                        {% endif %}
                    </div>

                    <div class="time-tracking">
                        <div class="time-tracking-left">
                            <p class="estimated">Estimated:</p>
                            <p class="remaining">Remaining:</p>
                            <p class="logged">Logged:</p>
                        </div>
                        <div class="time-tracking-right">
                            <p class="estimated">{{ task.estimate }}H</p>
                            {% with task.estimate|sub:task.tracked_time as remaining %}
                                {% if remaining < 0 %}
                                    <p class="remaining">0H</p>
                                {% else %}
                                    <p class="remaining">{{ remaining }}H
                                {% endif %}
                            {% endwith %}
                            <p class="logged-hours">{{ task.tracked_time }}H</p>
                        </div>
                    </div>
                    <div id="tracked-time">
                    </div>
                </div>
            </div>
        </div>
        <div class="subtasks-container">
            <div class="subtask-header">
                <p class="header-p">Subtasks</p>
                <a id="create-new-subtask" href="{% url 'create_subtask' task.id %}">Create new subtask</a>
            </div>

            <div class="subtasks">
                <div class="subtasks-header">
                    <p>Task</p>
                    <p>Status</p>
                    <p>Priority</p>
                    <p>Assigned</p>
                </div>
                {% for task in subtasks %}
                    <div class="subtask">
                        <a href="/tasks/{{ task.id }}">{{ task|truncatechars:70 }}</a>
                        <p class="{{ task.status.split|join:"-" }}">{{ task.status|replace_underscore|title }}</p>
                        <p class="{{ task.priority }}">{{ task.priority|title }}</p>
                        {% if task.assignee %}
                            <a class="assigned" href="/account/profile/{{ task.assignee }}">{{ task.assignee }}</a>
                        {% else %}
                            <p class="unassigned">Not Assigned</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="update-container">
            {% if request.user == task.author or request.user|has_group:"Admin" or request.user == task.assignee %}
                <button id="update-task">Update Task</button>
                {% if request.user == task.author or request.user|has_group:"Admin" %}
                    <button id="delete-task">Delete Task</button>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% csrf_token %}
{% endblock content %}

{% block script %}
    <script>
        window.onload = function () {
            let editMenu = document.querySelectorAll(".inner-field a");
            let dropdownMenus = document.querySelectorAll("div.dropdown");
            let updateBtn = document.getElementById("update-task");
            let assignBtn = document.getElementById("assign-me");
            let removeAssignee = document.getElementById("delete-assignee-btn");
            let deleteTaskBtn = document.getElementById("delete-task")
            let trackTimeBtn = document.getElementById("track-time-btn")
            let assignee = "{{ task.assignee }}"

            document.getElementById('create-new-subtask').addEventListener('click', (ev) => {
                let authorized = "{% if request.user|has_group:"Admin" or request.user == task.author %}yes{% else %}no{% endif %}"
                if (authorized === 'no') {
                    tempAlert('You are not authorized to create new subtasks', 2000, 100);
                    ev.preventDefault()
                }
            })

            if (updateBtn != null) {
                updateBtn.addEventListener('click', updateTask)
            }

            if (trackTimeBtn != null) {
                trackTimeBtn.addEventListener('click', trackTime)
            }

            assignBtn.addEventListener('click', updateAssignee)
            removeAssignee.addEventListener('click', updateAssignee)

            if (deleteTaskBtn != null) {
                deleteTaskBtn.addEventListener('click', deleteTask)
            }

            function deleteTask(ev) {
                let confirmation = confirm('Are you sure you want to delete this task ?')
                if (confirmation) {
                    window.location.href = '{% url 'delete_task' task.id %}'
                }
            }

            function trackTime(ev) {

            }

            async function updateAssignee(ev) {
                let assigneeElementImg = document.querySelector(".assignee-img img")
                let assigneeElementA = document.querySelector(".assignee-img a")
                if (ev.target.id === 'remove-assignee') {
                    assigneeElementA.href = ''
                    assigneeElementA.classList.remove('assignee')
                    assigneeElementA.innerText = "None"
                    assigneeElementImg.src = "{% static 'img/no_photo.png' %}"
                    let request = await assignToMe("{% url 'assign_to_me' %}", "{{task.id}}", "None")
                    tempAlert(request.message, 2000, request.status);
                    ev.target.remove()
                    assignee = "None"
                    let userAuthorized = '{% if request.user == task.author or request.user|has_group:"Admin" %}yes{% else %}no{% endif %}'
                    if (userAuthorized === 'no') {
                        let statusOptions = document.getElementById('status-options')
                        let resolutionOptions = document.getElementById('resolution-options')
                        statusOptions.remove()
                        resolutionOptions.remove()
                        let trackTimeBtn = document.getElementById('track-time-btn')
                        let updateTaskBtn = document.getElementById('update-task')
                        if (trackTimeBtn) {
                            trackTimeBtn.remove()
                        }
                        if (updateTaskBtn) {
                            updateTaskBtn.remove()
                        }
                    }


                } else if (ev.target.id === 'assign-me') {
                    if (assignee === "{{ user.username }}") {
                        tempAlert('You are already assigned to this task', 2000, 100);
                        return
                    }
                    assignee = "{{ user.username }}"
                    assigneeElementA.href = '/account/profile/' + "{{ user.username }}"
                    assigneeElementA.classList.add('assignee')
                    assigneeElementA.innerText = "{{ user.username }}"
                    if ("{{ user.profile.photo }}".length > 1) {
                        assigneeElementImg.src = "{% if user.profile.photo %}{{ user.profile.photo.url }}{% endif %}"
                    } else {
                        assigneeElementImg.src = "{% static 'img/no_photo.png' %}"
                    }

                    let request = await assignToMe("{% url 'assign_to_me' %}", "{{task.id}}", "{{ user.id }}")
                    tempAlert(request.message, 2000, request.status);

                    document.getElementById('delete-assignee-btn').innerHTML = '<button id="remove-assignee">Remove assignee</button>'

                    let userAuthorized = '{% if request.user == task.author or request.user|has_group:"Admin" %}yes{% else %}no{% endif %}'
                    if (userAuthorized === 'yes') {
                        document.getElementById('update-container').innerHTML = '<button id="update-task">Update Task</button>' +
                            '<button id="delete-task">Delete Task</button>'
                        let deleteTaskBtn = document.getElementById('delete-task')
                        deleteTaskBtn.addEventListener('click', deleteTask)
                    } else {
                        document.getElementById('update-container').innerHTML = '<button id="update-task">Update Task</button>'
                    }


                    let trackBtn = document.createElement('button')
                    let updateTaskBtn = document.getElementById('update-task')
                    updateTaskBtn.addEventListener('click', updateTask)
                    trackBtn.id = 'track-time-btn'
                    trackBtn.innerText = 'Track Time'
                    if (!document.getElementById('track-time-btn')) {
                        document.getElementById('track-time').appendChild(trackBtn)
                        trackTimeBtn = document.getElementById("track-time-btn")
                        trackTimeBtn.addEventListener('click', trackTime)
                    }
                    let resolutionField = document.querySelector('#resolution').querySelector('.inner-field')
                    let statusField = document.querySelector('#status').querySelector('.inner-field')

                    let statusOptions = document.querySelector('#status-options')
                    if (statusOptions === null) {
                        resolutionField.innerHTML += '<a href="#" id="resolution-options" class="dropdown"><i class="fa-solid fa-pencil dropdown"></i></a>';
                        statusField.innerHTML += '<a href="#" id="status-options" class="dropdown"><i class="fa-solid fa-pencil dropdown"></i></a>';
                        editMenu = document.querySelectorAll(".inner-field a");
                        [...editMenu].map(x => x.addEventListener("click", openMenu));
                        menuMap = {
                            'status-dropdown': document.querySelector('.inner-field .status'),
                            'priority-dropdown': document.querySelector('.inner-field .priority'),
                            'resolution-dropdown': document.querySelector('.inner-field .resolution'),
                        }
                    }
                }
            }

            async function updateTask(ev) {
                let csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
                try {
                    let assignee = document.querySelector('a.assignee')
                    if (assignee === null) {
                        throw new Error('No assignee, can\'t change Task status')
                    }
                    let data = {
                        'priority': document.querySelector('.inner-field .priority').innerText.toLowerCase(),
                        'status': document.querySelector('.inner-field .status').innerText.toLowerCase(),
                        'resolution': document.querySelector('.inner-field .resolution').innerText.toLowerCase(),
                        'assignee': document.querySelector('a.assignee').innerText,
                        'logged': document.querySelector('p.logged-hours').innerText.slice(0, -1),
                        'title': document.querySelector('.container h1').innerText,
                        'description': document.querySelector('textarea').value,
                    }
                    let request = await fetch('{% url 'update_task' task.id  %}',
                        {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                "X-CSRFToken": csrf_token,
                            },
                            body: JSON.stringify(data)
                        }
                    )
                    console.log(await request.json());
                    [...document.querySelectorAll('.bold')].map(x => x.classList.remove('bold'))
                } catch (e) {
                    tempAlert(e.message, 2000, 100);
                }

            }

            const innerPriority = document.querySelector('.inner-field .priority').innerText
            const innerStatus = document.querySelector('.inner-field .status').innerText
            const innerResolution = document.querySelector('.inner-field .resolution').innerText
            let close = document.querySelectorAll('.close');

            [...close].map(e => e.addEventListener('click', closeBtn))

            function closeBtn(ev) {
                ev.preventDefault();
                ev.target.parentElement.remove()
            }

            let initialValues = {
                'priority-dropdown': innerPriority,
                'status-dropdown': innerStatus,
                'resolution-dropdown': innerResolution,
            };


            [...editMenu].map(x => x.addEventListener("click", openMenu));
            [...dropdownMenus].map(x => x.addEventListener("click", changeItem));

            let toggleMap = {
                'status': document.getElementById('status-dropdown'),
                'priority': document.getElementById('priority-dropdown'),
                'resolution': document.getElementById('resolution-dropdown'),
            }
            let menuMap = {
                'status-dropdown': document.querySelector('.inner-field .status'),
                'priority-dropdown': document.querySelector('.inner-field .priority'),
                'resolution-dropdown': document.querySelector('.inner-field .resolution'),
            }

            function openMenu(ev) {
                let parentElement = ev.target.parentNode.parentNode.parentNode
                let element = toggleMap[parentElement.id]
                element.classList.toggle('show');
            }

            function changeItem(ev) {
                let elementId = ev.target.parentNode.id
                let element = menuMap[elementId]
                let value = element.innerText.toLowerCase()
                let newValue = ev.target.innerText.toLowerCase()
                closeOptions(element)
                element.innerText = ev.target.innerText
                if (value === 'in progress') {
                    value = 'in-progress'
                }
                if (newValue === 'in progress') {
                    newValue = 'in-progress'
                }
                element.classList.remove(value)
                element.classList.add(newValue)
                if (element.innerText.toLowerCase() !== initialValues[elementId].toLowerCase()) {
                    element.classList.add('bold');
                } else {
                    element.classList.remove('bold');
                }
            }
        }

        async function assignToMe(url, task_id, user_id) {
            let csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            let data = {
                'task_id': task_id,
                'user_id': user_id,
            }

            const urlWithParams = url + "?" + new URLSearchParams({})
            const response = await fetch(urlWithParams, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRFToken": csrf_token,
                    },
                    body: JSON.stringify(data)
                }
            );
            return response.json();
        }


        window.onclick = function (event) {
            if (!event.target.matches('.dropdown')) {
                let dropdowns = document.getElementsByClassName("dropdown");
                let i;
                for (i = 0; i < dropdowns.length; i++) {
                    let openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function closeOptions(activeMenu) {
            let dropdowns = document.querySelectorAll("div.dropdown");
            [...dropdowns].map(x => x.classList.contains('show') && x !== activeMenu ? x.classList.remove('show') : '')
        }
    </script>
{% endblock script %}